<h2>Bảng điểm của {{ student.name }}</h2>

<table>
    <tr>
        <th>Môn học</th>
        <th>Điểm</th>
    </tr>
    <tr>
        <td>Toán</td>
        <td>
            {% if grade and grade.math is not none %}
                {{ grade.math }}
            {% else %}
                <i>Chưa có dữ liệu</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Ngữ văn</td>
        <td>
            {% if grade and grade.literature is not none %}
                {{ grade.literature }}
            {% else %}
                <i>Chưa có dữ liệu</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Tiếng Anh</td>
        <td>
            {% if grade and grade.english is not none %}
                {{ grade.english }}
            {% else %}
                <i>Chưa có dữ liệu</i>
            {% endif %}
        </td>
    </tr>
</table>
    <br>
    <a href="{{ url_for('logout') }}">Đăng xuất</a>
</body>
</html>
